@*
    

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IncidenciaBlock
@{

}
@{
    <div class="incidencia">
        @if (false)
        {
            <div>@Html.LabelFor(x=> x.Colectivo)</div>
        }
        <div>
            <label>Fecha</label><span>@Model.FechaHallazgo.Value</span>
        </div>
        <div><label>Localidad</label><span>@Model.Localidad?.Value</span></div>
        <div><label>Latitud</label><span>@Model.Latitud?.Value</span></div>
        <div><label>Longitud</label><span>@Model.Longitud?.Value</span></div>
        <div><label>Referencias (ubicación)</label><span>@Model.ReferenciasDeUbicacion?.Value</span></div>
        <div><label>Observaciones</label><span>@Model.Observaciones?.Value</span></div>

    </div>
}
